li {
    margin: 5px;
    float: left;
    font-weight: 500;
}

/* #id, #pw, #cPw{
    float: right;
} */
input{
    width: 170px;
    margin: 5px;
    float: right;
    border-bottom: 2px dotted;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

table{
    border: 1px solid #000;
    width: 600px;
    border-collapse: collapse;
}

table td{
    border: 1px solid #000;
}

table th{
    border: 1px solid #000;
    
}