ul.menu{
    width: 80vw;
    padding: 0;
    margin: 0 auto;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

ul.menu li{
    width: 9em;
    height: 7.5em;
    background-color:rgba(255,255,255,0.5);
    border: 3px solid #786a2d;
    border-style:groove;
    text-align: center;
    margin-top: 10px;
    margin-left: 100px;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

ul.menu li a{
    display: block;
    text-decoration: none;
    font-size: larger;
    font-weight: bold;
    color: darkslateblue;

}

ul.menu > li:first-child{
    margin-left: 0px;
}



.bg{
    height: 100vh;
    width: 100vw;
    background-image: url(../images/2C294A39-9610-48A5-AE30-2B30846611FF_1_201_a.jpeg);
    background-size: cover;
    backdrop-filter: blur(3px);
}

ul.menu > li img.pic{
    width: 50px;
    align-items: center;
    display: none;
}


.join:hover .pic{
    display: flex;
}
.roadmap:hover .pic{
    display: flex;
}
.introduce:hover .pic{
    display: flex;
}
.trip:hover .pic{
    display: flex;
}

#join{
    border: none;
    font-size: larger;
    font-weight: bolder;
    color: darkslateblue;
}

#joinWindow{
    position: absolute; 
    top: 30%; 
    left: -30%; 
    opacity: 0; 
    background-color:rgba(255,255,255,0.7);
    transition-duration: 1.4s;
    transition-timing-function: ease-in;
    width: 80%;
    height: 65%;
}